# Environment
# Available options: debug, release, test
GIN_MODE=debug

# Server
PORT=8080

# Database
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# JWT
JWT_SECRET_KEY=secret
# in milliseconds
JWT_EXPIRE_IN=3600000

# Cors
ALLOWED_ORIGIN=*

# Rate Limit
MAX_REQUESTS=100
# in milliseconds
WINDOW_TIME=600000